@import "main.scss";

.NoteListItem {
  display: block;
  height: 100px;
  padding: 5px;

  border-bottom: 5px solid $theme_border;

  &.selected {
    background-color: $theme_primary;

    .title {
      color: $theme_primary_text_light;
    }

    .modified {
      color: $theme_secondary_text_light;
    }

    .content {
      color: $theme_tertiary_text_light;
    }
  }

  .title {
    font-weight: 600;
    font-size: 20px;
    color: $theme_primary_text_dark;
  }

  .modified {
    font-weight: 400;
    font-size: 15px;
    color: $theme_secondary_text_dark;
  }

  .content {
    font-weight: 400;
    font-size: 15px;
    color: $theme_tertiary_text_dark;
  }
}
