@import "main.scss";

$sidebar_color: darken($theme_background, 0.5);

.NoteList {
  display: block;
  float: left;
  overflow: hidden;
  height: 100%;
  width: 30%;

  border-right: 5px solid $theme_border;
  background-color: $sidebar_color;

  button {
    width: 100%;
    background-color: $theme_primary;
    color: $theme_primary_text_light;
    height: 40px;
    font-size: 15px;
    border: 0;
    border-radius: 0px;
  }

  .createNoteButton {

  }

  .list {
    height: calc(100% - 80px);
    overflow-y: auto;
  }

  .logoutButton {

  }
}
